
h1{
	color: darkred;
	text-align: center;
}

h2{
	color: darkred;
	text-align: center;
}

h3{
	text-align: left;
	background-color: lightblue;
	padding: 14px 25px;
	display: inline-block;
	p.solid {border-style: solid;}
}



body {
	background-color: rgb(210,220,210);
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

ul, ol { text-align: left }

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  background-color:maroon;
}

.column {
  flex: 33.33%;
}
</style>

.laatikko	{

	float: left;
}
